In [2]:
import pandas as pd
data = pd.read_csv("data/ner_dataset.csv", encoding='latin1')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [3]:
data = data.fillna(method='ffill')

In [4]:
data.head(20)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1   Sentence: 1             of   IN      O
2   Sentence: 1  demonstrators  NNS      O
3   Sentence: 1           have  VBP      O
4   Sentence: 1        marched  VBN      O
5   Sentence: 1        through   IN      O
6   Sentence: 1         London  NNP  B-geo
7   Sentence: 1             to   TO      O
8   Sentence: 1        protest   VB      O
9   Sentence: 1            the   DT      O
10  Sentence: 1            war   NN      O
11  Sentence: 1             in   IN      O
12  Sentence: 1           Iraq  NNP  B-geo
13  Sentence: 1            and   CC      O
14  Sentence: 1         demand   VB      O
15  Sentence: 1            the   DT      O
16  Sentence: 1     withdrawal   NN      O
17  Sentence: 1             of   IN      O
18  Sentence: 1        British   JJ  B-gpe
19  Sentence: 1         troops  NNS      O

In [5]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [7]:
data["Sentence #"] = LabelEncoder().fit_transform(data["Sentence #"])

In [8]:
data.head(30)

    Sentence #           Word  POS    Tag
0            0      Thousands  NNS      O
1            0             of   IN      O
2            0  demonstrators  NNS      O
3            0           have  VBP      O
4            0        marched  VBN      O
5            0        through   IN      O
6            0         London  NNP  B-geo
7            0             to   TO      O
8            0        protest   VB      O
9            0            the   DT      O
10           0            war   NN      O
11           0             in   IN      O
12           0           Iraq  NNP  B-geo
13           0            and   CC      O
14           0         demand   VB      O
15           0            the   DT      O
16           0     withdrawal   NN      O
17           0             of   IN      O
18           0        British   JJ  B-gpe
19           0         troops  NNS      O
20           0           from   IN      O
21           0           that   DT      O
22           0        country   NN      O
23           0              .    .      O
24       11111       Families  NNS      O
25       11111             of   IN      O
26       11111       soldiers  NNS      O
27       11111         killed  VBN      O
28       11111             in   IN      O
29       11111            the   DT      O

In [9]:
data.rename(columns={
    "Sentence #":"sentence_id",
    "Word": "words",
    "Tag": "labels"
}, inplace=True)

In [10]:
data["labels"] = data["labels"].str.upper()

In [11]:
data

         sentence_id          words  POS labels
0                  0      Thousands  NNS      O
1                  0             of   IN      O
2                  0  demonstrators  NNS      O
3                  0           have  VBP      O
4                  0        marched  VBN      O
...              ...            ...  ...    ...
1048570        42177           they  PRP      O
1048571        42177      responded  VBD      O
1048572        42177             to   TO      O
1048573        42177            the   DT      O
1048574        42177         attack   NN      O

[1048575 rows x 4 columns]

In [12]:
X = data[["sentence_id", "words"]]
Y = data["labels"]

In [19]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [20]:
train_data = pd.DataFrame({
    "sentence_id": x_train["sentence_id"], 
    "words": x_train["words"], 
    "labels":y_train
})
test_data = pd.DataFrame({
    "sentence_id": x_test["sentence_id"], 
    "words": x_test["words"], 
    "labels":y_test
})

In [21]:
train_data

         sentence_id      words labels
910132         35082          ,      O
220737           120         to      O
672601         23041   hundreds      O
811537         30106       Call      O
470404         12788       than      O
...              ...        ...    ...
39418           8568  Secretary  B-PER
297397          4023        has      O
138384         43866      polls      O
1012799        40355          ,      O
92437          35646      which      O

[838860 rows x 3 columns]

In [22]:
from transformers import BertModel, BertConfig

configuration = BertConfig()
model = BertModel(configuration)

configuration = model.config

In [23]:
print(configuration)

BertConfig {
  "attention_probs_dropout_prob": 0.1,
  "classifier_dropout": null,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "layer_norm_eps": 1e-12,
  "max_position_embeddings": 512,
  "model_type": "bert",
  "num_attention_heads": 12,
  "num_hidden_layers": 12,
  "pad_token_id": 0,
  "position_embedding_type": "absolute",
  "transformers_version": "4.24.0",
  "type_vocab_size": 2,
  "use_cache": true,
  "vocab_size": 30522
}

In [26]:
label = data["labels"].unique().tolist()
label

['O',
 'B-GEO',
 'B-GPE',
 'B-PER',
 'I-GEO',
 'B-ORG',
 'I-ORG',
 'B-TIM',
 'B-ART',
 'I-ART',
 'I-PER',
 'I-GPE',
 'I-TIM',
 'B-NAT',
 'B-EVE',
 'I-EVE',
 'I-NAT']

In [27]:
model = BertModel.from_pretrained('bert-base-uncased')
model

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

BertModel(
  (embeddings): BertEmbeddings(
    (word_embeddings): Embedding(30522, 768, padding_idx=0)
    (position_embeddings): Embedding(512, 768)
    (token_type_embeddings): Embedding(2, 768)
    (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (encoder): BertEncoder(
    (layer): ModuleList(
      (0-11): 12 x BertLayer(
        (attention): BertAttention(
          (self): BertSelfAttention(
            (query): Linear(in_features=768, out_features=768, bias=True)
            (key): Linear(in_features=768, out_features=768, bias=True)
            (value): Linear(in_features=768, out_features=768, bias=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (output): BertSelfOutput(
            (dense): Linear(in_features=768, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
        (intermediate): BertIntermediate(
          (dense): Linear(in_features=768, out_features=3072, bias=True)
          (intermediate_act_fn): GELUActivation()
        )
        (output): BertOutput(
          (dense): Linear(in_features=3072, out_features=768, bias=True)
          (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
          (dropout): Dropout(p=0.1, inplace=False)
        )
      )
    )
  )
  (pooler): BertPooler(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (activation): Tanh()
  )
)